[build]
rustflags = [
  # for tokio-console
  "--cfg",
  "tokio_unstable",
]

[target.wasm32-unknown-unknown]
rustflags = ["--cfg", "getrandom_backend=\"wasm_js\""]

[target.x86_64-unknown-linux-gnu]
rustflags = [
  # "-Ctarget-cpu=native", # improve performance in release (and all) builds
  # disabled native flags due to the new build machine.
  # we get SIGILL -> illegal instruction because of it trying to target a different microarch
  # We'll need to determine the subset of compiler flags we can enable
  #
  # "-Zlinker-features=-lld",

  # for tokio-console
  "--cfg",
  "tokio_unstable",
]

[target.x86_64-pc-windows-gnu]
linker = "gcc"

[env]
BEVY_ASSET_ROOT = "."
CC_x86_64-pc-windows-gnu = "gcc"
CXX_x86_64-pc-windows-gnu = "g++"
CC_x86_64-pc-windows-msvc = "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.44.35207/bin/Hostx64/x64/cl.exe"
CXX_x86_64-pc-windows-msvc = "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.44.35207/bin/Hostx64/x64/cl.exe"
INCLUDE = "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.44.35207/include;C:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/ucrt;C:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/shared;C:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/um"
LIB = "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.44.35207/lib/x64;C:/Program Files (x86)/Windows Kits/10/Lib/10.0.22621.0/ucrt/x64;C:/Program Files (x86)/Windows Kits/10/Lib/10.0.22621.0/um/x64"

[target.x86_64-pc-windows-msvc]
# linker = "rust-lld"
